.search-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
  }
  
  .search-btn {
    background-color: #85662b;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
  }
  .clear-btn {
    background-color: #85662b;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin-left: 2px;
  }
  
  .search-btn:hover {
    background-color: #6a501f;
  }
  
  
  
  
  
  .item {
    background: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
  }
  
  .title {
    color: #85662b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .content {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }
  
  .accordion-container {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
  }
  