.container {
  /* width: -webkit-fill-available; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 35px;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 5px;
}
.heading #title {
  text-align: start;
  font-size: xxx-large;
  text-align: center;
}
.heading p {
  font-size: x-large;
  font-weight: 100;
}
.description {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.description h2 {
  text-align: start;
}
.description ul {
  text-align: start;
  list-style-type: disc;
}
.description ul li#desc {
  font-size: medium;
  margin: 0px 3vw;
}
ul li {
  display: list-item;
}
.variant1 {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.variant1 h2 {
  text-align: start;
}
.variant1 ul {
  text-align: start;
  list-style-type: disc;
  margin: 0px 3vw;
}
.variant1 ul h3 {
  font-weight: bold;
}
.render {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 2vw;
}

.nav-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  height: 13vh !important;
  align-items: center;
  padding: 20px 50px;
  flex-direction: column;
}
.copy-btn {
  background-color: #c40c0c;
  color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}
.copy-btn:hover {
  background-color: #e63535;
  border-radius: 10px;
}
.type {
  padding: 1.5vh;
}
hr {
  border-color: rgba(0, 0, 0, 0.404);
}
.down {
  font-size: larger;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 15px;
}

/* @media screen and (min-width: 913px) {
  .render {
    max-width: 70% !important;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .nav-up {
    max-width: 70% !important;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .type {
    max-width: 70% !important;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .down {
    max-width: 70% !important;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .down pre {
    max-width: 70% !important;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
} */
@media screen and (max-width: 1000px){
    nav{
        flex-direction: column;
        height: auto !important;
    }
}
@media screen and (max-width: 912px) {
  .subContainer {
    flex-direction: column;
  }
  .sidebar {
    height: auto;
  }
  .container {
    margin: auto;
    padding: 0 30px;
  }
  .render {
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .render {
    max-width: 85vw;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .nav-up {
    max-width: 85vw;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .type {
    max-width: 85vw;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .down {
    max-width: 85vw;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
  .down pre {
    max-width: 70vw;
    height: auto;
    text-overflow: clip;
    white-space: normal;
  }
}
