.sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0 30px;
  width: 30%;
  overflow-y: scroll;
  height: 80vh !important;
}

.btn {
  background-color: #c40c0c;
  color: white;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: #e63535;
  border-radius: 10px;
}
.quickSearch {
  font-size: medium;
  padding: 10px;
  border: 1px solid #ccc;
}
.quickSearch:hover {
  background-color: #e9ecef;
}

@media screen and (max-width: 1025px) {
  .responsiveSearch {
    font-size: medium;
    height: 2rem !important;
  }
  .responsiveBtn {
    font-size: medium;
    padding: 4px !important;
  }
  .sidebar {
    padding: 0 10px;
  }
  .quickSearch {
    padding: 5px !important;
    width: 15vw !important;
    height: 3vh !important;
  }
  .quickSearch:hover {
    background-color: rgba(255, 255, 255, 0.219);
  }
  .btn {
    font-size: small !important;
    padding: 3px !important;
  }
  .quickContainer {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
