<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Toggle Menu</title>
</head>

<body>
  <nav id="nav-container">
    <div class="primary-nav">
      <div class="primary-nav-logo">
        <h3>Codeeasy</h3>
      </div>
      <div class="primary-nav-link">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="secondary-nav">
      <input type="text" class="secondary-nav-searchbar" />
      <button class="secondary-nav-searchbtn nav-btnFont">Search</button>
      <li class="nav-item">
        <input type="checkbox" id="dark_toggler" class="dark_toggler" aria-label="Toggle Light Mode"
          onclick="toggle_light_mode()" checked />
      </li>
    </div>
    <div id="nav-hamburger">
      <button id="nav-btn"><i class="fas fa-bars"></i></button>
    </div>
  </nav>
  <div id="nav-hamburger-menu">
    <ul>
      <li>
        <a style="background: rgb(111, 92, 182)" class="nav-hamburger-content" href="#">Home</a>
      </li>
      <li>
        <a style="background: rgb(111, 92, 182)" class="nav-hamburger-content" href="#">About</a>
      </li>
      <li>
        <a style="background: rgb(111, 92, 182)" class="nav-hamburger-content" href="#">Contact</a>
      </li>
      <li>
        <div style="background: rgb(111, 92, 182)" class="nav-hamburger-content nav-serach-container">
          <input type="text" class="nav-serach-container-input" />
          <button class="nav-serach-container-btn nav-btnFont">Search</button>
        </div>
      </li>
      <li style="background: rgb(111, 92, 182)" class="nav-item nav-hamburger-content" id="nav-togglebtn">
        <input type="checkbox" id="dark_toggler themeChanger2" class="dark_toggler" aria-label="Toggle Light Mode"
          onclick="toggle_light_mode()" checked />
      </li>
    </ul>
  </div>

  <script src="index.js"></script>
</body>

</html>