<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Progress Bar</title>
  </head>
  <body>
    <div class="container-staticbar">
      <div id="progress-container-static">
        <div id="progress-bar-static"></div>
      </div>
    </div>
    <div class="container2-static-bar">
        <label for="percentageInputStatic">Enter Percentage: </label>
        <input
          type="number"
          id="percentageInputStatic"
          min="0"
          max="100"
          oninput="updateProgressBarStatic(this.value)"
        />
      </div>

    <script src="script.js"></script>
  </body>
</html>
