<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Basic Form</h2>
      <form class="form-detail" action="#" method="get" id="myform">
        <input
          type="text"
          name="first_name"
          id="first_name"
          class="input-text"
          placeholder="First Name"
          required
        />
        <input
          type="text"
          name="last_name"
          id="last_name"
          class="input-text"
          placeholder="Last Name"
        />
        <input
          type="text"
          name="your_email"
          id="your_email"
          class="input-text"
          required
          pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
          placeholder="Your Email"
        />
        <input
          type="text"
          name="street"
          class="street"
          id="street"
          placeholder="Street + Nr"
          required
        />
        <input
          type="text"
          name="additional"
          class="additional"
          id="additional"
          placeholder="Additional Information"
        />
        <input
          type="text"
          name="zip"
          class="zip"
          id="zip"
          placeholder="Zip Code"
          required
        />
        <select name="country" class="country" id="country">
          <option value="country">Country</option>
        </select>
        <input
          type="text"
          name="phone"
          class="phone"
          id="phone"
          placeholder="Phone Number"
          required
        />

        <div class="agreement">
            <input type="checkbox" name="checkbox" required/>
            <p>I do accept the<a href="#" class="text">Terms and Conditions</a> of your site.</p>
        </div>

        <input class="btn" type="submit" name="submit" value="Submit" />

        <script src="script.js"></script>
      </form>
    </div>
  </body>
</html>
