.signup-container {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    color: darkred;
}

.signup-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container label {
    margin-bottom: 8px;
    color: #555;
}

.signup-container input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
    width: -webkit-fill-available;
}
.signup-container input:hover{
    background-color: #e9ecef;
}

.signup-container button {
    background-color: #c40c0c;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

.signup-container button:hover {
    background-color: #e63535;
    border-radius: 10px; 
}

.login-link {
    color: #c40c0c; 
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

.signup-container h2:hover {
    color: #e63535;
}

@media screen  and (max-width: 360px){
    .signup-container{
        width: auto;
    }
}