#progress-container-static {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: hidden;
}

#progress-bar-static {
  height: 30px;
  width: 0;
  transition: width 0.5s ease;
}

.container-staticbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.container2-static-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
