#progress-container-dynamic {
  width: 80%;
  margin: 50px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 50px;
}
#progress-bar-dynamic {
  height: 30px;
  width: 0;
  background: linear-gradient(
    45deg,
    #ffffff 25%,
    transparent 25%,
    transparent 50%,
    #ffffff 50%,
    #ffffff 75%,
    transparent 75%,
    transparent
  );
  background-size: 20px 20px;
  animation: moveStripes 2s linear infinite;
  transition: width 0.5s ease;
}

@keyframes moveStripes {
  to {
    background-position: 20px 0;
  }
}
.container-dynamic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.container-dynamic {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
