<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Accordion</title>
    <link rel="stylesheet" href="searchaccordion.css" />
  </head>
  <body>
    <div class="accordion-wrapper2" id="searchAccordionWrapper2">
      <div class="search-container2">
        <input
          class="search-input2"
          type="text"
          placeholder="Search..."
          id="searchInput2"
        />
        <button class="search-btn2" id="searchBtn2" onclick="handleSearch2()">
          Search
        </button>
        <button
          class="clear-btn2"
          id="clearBtn2"
          onclick="handleClearSearch2()"
        >
          Clear
        </button>
      </div>

      <div class="accordion-container2" id="searchAccordionContainer2"></div>
    </div>

    <script src="searchaccordion.js"></script>
  </body>
</html>
